#exportPattern("^[[:alpha:]]+")
useDynLib(PBRF, .registration = TRUE)
#export(pbf1)
export(pbf2)
#export(wlogr2)
#export(genwr)
#import("inline")
#S3method(summary,WWR)
importFrom("stats", "pnorm", "rnorm", "runif")